Source: python-funcy
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders:
 Carsten Schoenert <c.schoenert@t-online.de>,
Section: python
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 dh-sequence-sphinxdoc,
 python3-all,
Build-Depends-Indep:
 python3-doc <!nodoc>,
 python3-setuptools,
 python3-sphinx <!nodoc>,
 python3-sphinx-rtd-theme <!nodoc>,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-funcy
Vcs-Git: https://salsa.debian.org/python-team/packages/python-funcy.git
Homepage: https://github.com/Suor/funcy

Package: python-funcy-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Multi-Arch: foreign
Built-Using:
 ${sphinxdoc:Built-Using},
Description: Collection of fancy functional tools focused on practicality (Documentation)
 Funcy is designed to be a layer of functional tools over Python.
 It provides some possible often wanted functionality like:
  * Merge collections of same type (works for dicts, sets, lists, tuples,
    iterators and even strings).
  * Walk through collection, creating its transform (like map but preserves
    type).
  * Select a part of collection.
  * Manipulate sequences.
  * And functions.
  * CreAbstract control flowate decorators easily.
  * Abstract control flow.
  * Ease debugging.
 .
 This package contains the documentation.

Package: python3-funcy
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Suggests:
 python-funcy-doc,
Description: Collection of fancy functional tools focused on practicality (Python3 version)
 Funcy is designed to be a layer of functional tools over Python.
 It provides some possible often wanted functionality like:
  * Merge collections of same type (works for dicts, sets, lists, tuples,
    iterators and even strings).
  * Walk through collection, creating its transform (like map but preserves
    type).
  * Select a part of collection.
  * Manipulate sequences.
  * And functions.
  * CreAbstract control flowate decorators easily.
  * Abstract control flow.
  * Ease debugging.
 .
 This package contains the Python 3 version of the library.
